/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
body {
  background-image: url("images/wall1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* The cover property fills the tab... it changes image's size automatically. */
  background-size: cover;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/* line 16, ../sass/screen.scss */
#chart-area {
  margin: 30px 0 30px 0;
}

/* line 20, ../sass/screen.scss */
.footer {
  text-align: left;
  color: white;
  font-size: 0.8em;
}
/* line 24, ../sass/screen.scss */
.footer a {
  color: white;
  text-decoration: none;
}

/* To show tick marks and axis (thin) */
/* line 31, ../sass/screen.scss */
.axis path,
.axis line {
  fill: none;
  stroke: #000000;
}

/* line 37, ../sass/screen.scss */
circle:hover {
  cursor: pointer;
}

/* line 41, ../sass/screen.scss */
#infoWindow, .infoText {
  display: none;
}
